<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath="C:\Program Files\Python312\python.exe" arguments="E:\WebService\PowerBI_WebService.py" startupTimeLimit="30" startupRetryCount="3" stdoutLogEnabled="true" stdoutLogFile="E:\WebService\WebServerLog.log" forwardWindowsAuthToken="true">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>